$fontDefault: "TwCenMT";
$redColor1: rgba(211, 0, 0, 1);
$redColor2: rgba(211, 0, 0, 1);
$redColor3: #d30000;
$greenColor1: #2dce89;
$greenColor2: rgb(36, 197, 98);
$light-gray: #eaeaea;
$yellowColor: rgb(255, 192, 0);
$fbColor: #3b5999;
$googleColor: #4a73e7;
$otpColor: #5a6268;
$darkColor: #343a40;
$boxShadow1: 0 0 0.75rem rgb(0 0 0 / 8%) !important;
$boxShadow2: 0 0 0.25rem rgb(0 0 0 / 8%) !important;
$transition1: all 0.3s ease-out;
$transition2: height 0ms 400ms, opacity 400ms 0ms;
$transition3: height 0ms 0ms, opacity 600ms 0ms;
$light-gray2: #f2f2f2;
$light-gray3: #bfbfbf;
$light-gray4: #212529;
$darkGrey: #3a3c3d;
$darkGrey2: #4b5458;
$shadow1: 0 0 2.4rem 4px rgb(136 152 170 / 45%) !important;
