// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');
@mixin font($font-family, $font-file, $font-weight) {
    @font-face {
        font-family: $font-family;
        // src: url($font-file+'.ttf') format('truetype');
        src: url($font-file+".eot");
        src: url($font-file+".eot?#iefix") format("embedded-opentype"),
            // url($font-file+".woff") format("woff"),
                url($font-file+".ttf") format("truetype"),
            url($font-file+".svg#"+$font-family) format("svg");
        font-weight: $font-weight;
        font-style: normal;
    }
}

@mixin transition($x...) {
    -webkit-transition: $x;
    -moz-transition: $x;
    -ms-transition: $x;
    -o-transition: $x;
    transition: $x;
}

@include font("TwCenMT", "/fonts/tw_cen_mt/condensed_extra_bold", 700);
@include font("TwCenMT", "/fonts/tw_cen_mt/bold", 600);
@include font("TwCenMT", "/fonts/tw_cen_mt/bold", 500);
@include font("TwCenMT", "/fonts/tw_cen_mt/normal", 400);
@include font("TwCenMT-Bold", "/fonts/tw_cen_mt/bold", 500);
@include font(
    "TwCenMT-ExtraBold",
    "/fonts/tw_cen_mt/condensed_extra_bold",
    700
);

// Variables
@import "variables";

// Colors
@import "colors";

// Misc
@import "components";

// Misc
@import "misc";

@import "../../../public/css/style.css";

body {
    font-family: $fontDefault;
    letter-spacing: 0.2px;
}

div {
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

#root {
    // background-color: #f2f2f2;

    // .container {
    //     background-color: #f2f2f2;
    // }

    // .card {
    //     background-color: #f2f2f2;
    // }
}
